%main-text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 13.5px;
  color: $main-text-color;
  line-height: 19.5px;
}

%main-text-bold {
  font-family: $main-font;
  font-weight: 700;
  font-size: 13.5px;
  color: $secondary-color;
  line-height: 19.5px;
}

//оранжевый текст
%except-text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 13.5px;
  color: $btn-main-color;
}

// для h1
%page-headline-text {
  font-family: $main-font;
  font-weight: 800;
  font-size: 30px;
  color: $main-color;
  text-transform: uppercase;
}

// для h2 по всей странице, для первого необходимо вручную прописать 20,5px размер
%headline-text {
  font-family: $main-font;
  font-weight: 800;
  font-size: 18px;
  color: $secondary-color;
  text-transform: uppercase;
  line-height: 24px;
}

%headline-reverse-text {
  font-family: $main-font;
  font-weight: 800;
  font-size: 18px;
  color: $main-color;
  text-transform: uppercase;
  background-color: $secondary-color;
}

// текст в верхнем регистре
%slogan-text {
  font-family: $main-font;
  font-weight: 700;
  font-size: 13.5px;
  color: $secondary-color;
  text-transform: uppercase;
  line-height: 19.5px;
}

%slogan-reverse-text {
  font-family: $main-font;
  font-weight: 700;
  font-size: 13.5px;
  color: $main-color;
  text-transform: uppercase;
  background-color: $secondary-color;
  line-height: 19.5px;
}

%slogan-for-slider-text {
  font-family: $main-font;
  font-weight: 700;
  font-size: 13.5px;
  color: $main-color;
  text-transform: uppercase;
  line-height: 19.5px;
}

%secondary-text {
  font-family: $main-font;
  font-weight: 500;
  font-size: 13.5px;
  color: $secondary-color;
  line-height: 19.5px;
}

%secondary-reverse-text {
  font-family: $main-font;
  font-weight: 500;
  font-size: 13.5px;
  color: $main-color;
  background-color: $secondary-color;
  line-height: 19.5px;
}

%highlited-text {
  font-family: $main-font;
  font-weight: 500;
  font-size: 13.5px;
  color: $secondary-color;
  background-color: $text-bg-color;
  line-height: 19.5px;
}

%numbers-of-list {
  font-family: $main-font;
  font-weight: 700;
  font-size: 13.5px;
  color: $main-color;
  background-color: $btn-main-color;
}

// и куда же без кнопочек (: обратите внимание, что последние три кнопки в макете меньше
%button-style {
  display: block;
  text-align: center;
  font-family: $main-font;
  font-weight: 800;
  font-size: 11px;
  color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $btn-main-color;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: $btn-box-shadow;
}

%list-style-square-small-black {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: $secondary-color;
}

%list-style-square-big-blue {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: $secondary-color;
}

%list-style-square-small-blue {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: $text-bg-color;
}

%list-style-square-big-blue {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: $text-bg-color;
}

%list-style-square-big-orange {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: $btn-main-color;
}

%dash-small {
  content: '';
  display: block;
  width: 15px;
  height: 3px;
  background-color: $secondary-color;
}

%dash-big {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background-color: $secondary-color;
}
