$main-font: 'Acrom', sans-serif;
$main-color: #ffffff;  // bg color всего сайта
$main-bg-color: #e8e8e8; // цвет фона под секциями
$main-text-color: #3f4144;
$secondary-color: #000000;
$dop-text-color: #afb0b3;
$baner-bg-color: #181c27;  // footer bg color
$btn-main-color: #ff6b08;
$btn-box-shadow: 0px 5px 6px 0px rgba(196, 87, 15, 0.26);
$btn-active-color: #06a4b2;
$btn-box-shadow-active: 0px 5px 6px 0px rgba(6, 164, 178, 0.26); 
$btn-hover-color: #17ecff;
$btn-box-shadow-hover: 0px 5px 6px 0px rgba(23, 236, 255, 0.26);
$text-bg-color: #16ebfe;
$form-main-color: #bfbfbf;
$form-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.15); // bg color section 18
$section-bg-color: #052139;
$footer-btn-border-color: #1b4371;
$footer-btn-active-color: #15bbca;
$footer2-bg-color: #202020;