.opportunity-section {
    padding-top: 15px;
    &__image {
        display: block;
        margin: 0 auto;
        margin-bottom: 45px;
        width: auto;
    }
    &__usually {
        @extend %except-text;
        font-weight: 500;
        margin-bottom: 25px;
    }
    &__slogan {
        margin-bottom: 25px;
        &--bgblack {
            @extend %headline-reverse-text;
        }
    }
    &__offer {
        @extend %secondary-text;
        margin-bottom: 60px;
        &::before {
            @extend %dash-big;
        }
    }
    &__secondary-headline {
        @extend %slogan-text;
        margin-bottom: 35px;
    }
    &__opportunities-list {
        list-style: none;
        &__item {
            display: flex;
            margin-bottom: 30px;
            &__number--bg-orange {
                @extend %numbers-of-list;
            }
            &__content {
                &__headline {
                    @extend %main-text-bold;
                    padding-bottom: 15px;
                }
                &__description {
                    @extend %main-text;
                }
            }            
        }
    }
}